@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* visually-hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* global */
html {
  height: 100%;
}

/* body */
.page-body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
}

.button--brown {
  display: block;
  background-color: #756157;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}

.button--blue {
  font-family: "PT Sans", Arial, sans-serif;
  display: block;
  background-color: #82b3d3;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  border: none;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}

.button--green {
  background-color: #7db54f;
}

/* disabled для ссылок */
.button--brown-disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

/* Состояния button--blue  */
.button--blue:hover {
  background-color: #68a2ca;
}

.button--blue:focus {
  background-color: #68a2ca;
  outline: none;
}

.button--blue:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button--blue:disabled {
  background-color: #e5e5e5;
}

/* Состояния button--brown */
.button--brown:hover {
  background-color: #615048;
}

.button--brown:focus {
  background-color: #615048;
  outline: none;
}

.button--brown:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button--brown:disabled {
  background-color: #e5e5e5;
}

/* Состояния button--green */
.button--green:hover {
  background-color: #6c9e42;
}

.button--green:focus {
  background-color: #6c9e42;
  outline: none;
}

.button--green:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.button--green:disabled {
  background-color: #e5e5e5;
}

/* Состояния button--reset  */
.catalog-filter__button-reset:hover {
  color: rgba(255, 255, 255, 0.4);
}

.catalog-filter__button-reset:focus {
  outline: 3px solid #83b3d3;
}

.catalog-filter__button-reset:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.catalog-filter__button-reset:disabled {
  color: rgba(255, 255, 255, 0.1);
}

/* content */
.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

/* navigation */
.navigation {
  position: relative;
  display: flex;
  padding: 0 70px 0 238px;
}

.navigation__logo {
  display: block;
}

.navigation__list,
.navigation__user-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__list {
  max-width: 440px;
}

.navigation__user-list {
  margin-left: auto;
  max-width: 120px;
}

.navigation__link,
.navigation__user-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
}

.navigation__link {
  position: relative;
}

.navigation__link:hover {
  background-color: rgba(211, 211, 211, 0.3);
}
.logo-link:hover {
  background-color: transparent;
  opacity: 0.6;
}

.navigation__item .navigation__link {
  padding: 20px 16px;
}

.navigation__user-link {
  padding: 32px 22px;
  background-position: 50% 50%;
}

.navigation__link-current::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #756257;
  bottom: -1px;
  left: 16px;
  right: 16px;
  z-index: 1;
}

.logo-link {
  position: absolute;
  left: 70px;
  z-index: 1;
}

.navigation__button {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  margin-left: 20px;
  align-self: center;
  padding-right: 34px;
  padding-left: 34px;
  max-width: 160px;
}

.navigation__user-item:first-child .navigation__user-link {
  display: block;
  background-image: url("../images/svg-images/search.svg");
  background-repeat: no-repeat;
  /* width: 20px;
  height: 20px; */
}

.navigation__user-item:nth-child(2) .navigation__user-link {
  display: block;
  position: relative;
  background-image: url("../images/svg-images/heart.svg");
  background-repeat: no-repeat;
  /* width: 20px;
  height: 20px; */
}

.navigation__user-item:nth-child(2) .navigation__user-link:hover,
.navigation__user-item:first-child .navigation__user-link:hover {
  opacity: 0.6;
}

.navigation__user-number {
  display: flex;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  width: 20px;
  height: 20px;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 20px;
  top: 11px;
}

/* hero */
.hero {
  position: relative;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/hero-index-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.hero::after {
  position: absolute;
  content: "";
  background-image: url("../images/svg-images/decorate-triangle.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 57px;
}

.hero__images-welcome {
  display: block;
  margin: 0 auto;
}

/* titles */
.title-big {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.title-little {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

/* advantages */
.advantages {
  text-align: center;
}

.advantages__text-wrapper {
  width: 100%;
  padding: 69px 254px;
}

.advantages__headdescription,
.advantages__comedescription {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  margin: 0;
  padding: 0;
}

.advantages__headdescription {
  margin-top: 25px;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages__sublist {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages__title {
  position: relative;
  text-transform: uppercase;
  max-width: 175px;
  margin-bottom: 62px;
}

.advantages__title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  /* top: 86px;
  left: 58px; */
  left: 50%;
  transform: translate(-50%);
  bottom: -32px;
}

.advantages__item-wrapper .advantages__title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages__subtitle {
  text-transform: uppercase;
  margin-bottom: 30px;
  max-width: 230px;
}

.advantages__description,
.advantages__subdescription {
  font-weight: 400;
  color: #333333;
  text-align: center;
  margin: 0;
  padding: 0;
}

.advantages__item-wrapper {
  background-color: #82b3d3;
  color: #ffffff;
  width: 400px;
  padding: 102px 85px;
}

.image-block-wrapper {
  display: flex;
}

.advantages__photo {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.advantages__item-wrapper .advantages__description {
  color: #ffffff;
}

.lightgray-box {
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
  padding: 112px 85px;
}

.grey-box {
  background: rgba(131, 179, 211, 0.2);
  width: 400px;
  padding: 112px 85px;
}

.advantages__subitem {
  position: relative;
  width: 400px;
  padding: 183px 85px 81px;
}

.advantages__subitem:nth-child(1)::before {
  position: absolute;
  content: url("../images/svg-images/home-icon.svg");
  left: 50%;
  transform: translate(-50%);
  top: 81px;
}

.advantages__subitem:nth-child(2)::before {
  position: absolute;
  content: url("../images/svg-images/food-icon.svg");
  left: 50%;
  transform: translate(-50%);
  top: 82px;
}

.advantages__subitem:nth-child(3)::before {
  position: absolute;
  content: url("../images/svg-images/gift-icon.svg");
  left: 50%;
  transform: translate(-50%);
  top: 79px;
}

.advantages__subicon {
  display: block;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.advantages__home-icon {
  background-image: url("../images/svg-images/home-icon.svg");
  width: 75px;
  height: 72px;
  margin: 0 auto;
}

.advantages__eat-icon {
  background-image: url("../images/svg-images/food-icon.svg");
  width: 74px;
  height: 70px;
  margin: 0 auto;
}

.advantages__gift-icon {
  background-image: url("../images/svg-images/gift-icon.svg");
  width: 64px;
  height: 76px;
  margin: 0 auto;
}

.advantages__come {
  padding: 64px 347px;
}

.advantages__cometitle {
  margin-bottom: 20px;
}

/* Hotel Search */
.hotel-search {
  padding: 96px 304px;
}

.hotel-search__title {
  margin-bottom: 20px;
}

.hotel-search__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
}

.hotel-search__button {
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  max-width: 376px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

/* Mailing Block */
.newsletter {
  text-align: center;
  padding: 96px 258px 104px 258px;
}

.newsletter-main {
  background-color: #000000;
  color: #ffffff;
  background-image: url("../images/subscribe-index-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.newsletter__title {
  margin-bottom: 20px;
}

.newsletter__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 54px;
  max-width: 475px;
}

.newsletter-inner .newsletter__text {
  color: #333333;
}

.newsletter__form {
  display: flex;
}

.newsletter__field {
  font-family: "PT Sans", Arial, sans-serif;
  min-width: 452px;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px 0 0 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 20px;
}

.newsletter__field:hover {
  background-color: #e6e6e6;
}

.newsletter__field:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
  position: relative;
  z-index: 2;
}

.newsletter__field {
  outline: 2px solid #000000;
  background-color: #f2f2f2;
  position: relative;
}

.newsletter__field::placeholder {
  color: #000000;
  opacity: 0.6;
}

.newsletter__button {
  font-size: 20px;
  line-height: 36px;
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 0 4px 4px 0;
}

/* footer */
.footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px 70px;
}

.footer-social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;
  justify-content: center;
}

.footer-social__link {
  display: flex;
  padding: 11px 12px;
  color: #83b3d3;
}

.footer-social__item {
  display: flex;
}

.footer-social__telephone {
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}

.footer-social__website {
  display: flex;
  color: #000000;
}

.footer-social__telephone:hover {
  color: #756157;
}

.footer-social__telephone:focus {
  outline: none;
  color: #756157;
}

.footer-social__telephone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-social__link:hover {
  color: #68a2ca;
}

.footer-social__link:focus {
  outline: none;
  color: #68a2ca;
}

.footer-social__link:active {
  color: rgba(104, 162, 202, 0.3);
}

.footer-social__website:hover {
  color: #756157;
}

.footer-social__website:focus {
  outline: none;
  color: #756157;
}

.footer-social__website:active {
  color: rgba(117, 97, 87, 0.3);
}

/* catalog form */

.inner-header {
  background-color: #000000;
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  padding: 35px 70px 70px 70px;
}

.inner-header-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  display: flex;
  /* align-items: center; */
}

.breadcrumbs__item {
  display: flex;
}

.breadcrumbs__item:first-child .breadcrumbs__link {
  display: flex;
  background-image: url("../images/svg-images/breadcrumbs-home.svg");
  width: 13px;
  height: 13px;
  background-repeat: no-repeat;
  background-size: cover;
  align-self: center;
}

.breadcrumbs__item:not(:last-child) {
  margin-right: 29px;
  position: relative;
}

.breadcrumbs__item:not(:last-child)::after {
  position: absolute;
  content: "";
  background: url("../images/svg-images/breadcrumbs-arrow.svg") no-repeat center / 100%;
  width: 8px;
  height: 10px;
  right: -18px;
  top: 50%;
  transform: translateY(-50%);
}

.breadcrumbs__link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs__item:first-child .breadcrumbs__link:hover {
  opacity: 0.6;
}

.breadcrumbs__item:first-child .breadcrumbs__link:active {
  opacity: 0.3;
}

.breadcrumbs__link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs__link:focus {
  outline: none;
}

.breadcrumbs__link:active {
  color: rgba(255, 255, 255, 0.3);
}

/* filter */
.catalog-filter {
  display: flex;
}

.catalog-filter__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
}

.catalog-filter__group:nth-child(3) .catalog-filter__title {
  text-align: start;
}

.catalog-filter__group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter__group:first-child,
.catalog-filter__group:nth-child(2) {
  width: 150px;
  margin-right: 70px;
}

.catalog-filter__group:nth-child(3) {
  width: 288px;
  margin-left: 70px;
  margin-right: 70px;
}

.catalog-filter__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-filter__item {
  font-weight: 400;
  line-height: 23px;
  margin: 0;
  padding: 0;
}

.catalog-filter__group:nth-child(3) .catalog-filter__list {
  display: flex;
}

.catalog-filter__item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-filter__number-input {
  font-family: "PT Sans", Arial, sans-serif;
  padding: 12px 20px;
  padding-right: 40px;
  border-radius: 4px 0 0 4px;
  border: none;
  background-color: #f2f2f2;
  max-width: 143px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.catalog-filter__number-label {
  display: block;
  position: relative;
}

.catalog-filter__number-input::-webkit-outer-spin-button,
.catalog-filter__number-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.filter-from .catalog-filter__text {
  position: absolute;
  color: #000000;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 24px;
  opacity: 0.3;
  z-index: 2;
}

.filter-to .catalog-filter__text {
  position: absolute;
  color: #000000;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 24px;
  opacity: 0.3;
  z-index: 2;
}

.filter-to .catalog-filter__number-input {
  border-radius: 0 4px 4px 0;
  margin-left: 2px;
}

.catalog-filter__number-label:hover .catalog-filter__number-input {
  background-color: #e6e6e6;
}

.catalog-filter__number-input:focus {
  outline: 3px solid #83b3d3;
  position: relative;
  z-index: 1;
}

/* checbox */
.catalog-filter__checkbox-label {
  position: relative;
  display: block;
  padding-left: 36px;
}

.catalog-filter__checkbox-input:checked + .control-mark::before {
  position: absolute;
  content: "";
  background: url("../images/svg-images/checkbox-mark.svg") no-repeat;
  width: 12px;
  height: 10px;
  left: 4px;
  top: 6px;
}

/* radio */
.catalog-filter__radio-label {
  position: relative;
  display: block;
  padding-left: 36px;
}

.catalog-filter__radio-input:checked + .control-mark::before {
  position: absolute;
  content: "";
  background: url("../images/svg-images/radio-mark.svg") no-repeat;
  background-size: cover;
  width: 10px;
  height: 10px;
  left: 5px;
  top: 5px;
}

/* mark */
.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 4px;
  left: 0;
  top: 1px;
}

.catalog-filter__radio-label .control-mark {
  border-radius: 50%;
}

/* states checkbox-radio */
.catalog-filter__radio-label:hover,
.catalog-filter__checkbox-label:hover {
  opacity: 0.6;
}

.catalog-filter__radio-input:focus + .control-mark,
.catalog-filter__checkbox-input:focus + .control-mark {
  outline: 3px solid #83b3d3;
}

.catalog-filter__radio-label:active,
.catalog-filter__checkbox-label:active {
  opacity: 0.3;
}

.catalog-filter__radio-input:disabled + .control-mark,
.catalog-filter__checkbox-input:disabled + .control-mark {
  outline: 3px solid #242424;
  opacity: 0.1;
}

/* filter-range */
.catalog-filter__range-scale {
  position: relative;
  height: 4px;
  background-color: rgb(255, 255, 255, 0.3);
  margin-top: 30px;
  margin-bottom: 6px;
}

.catalog-filter__range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.catalog-filter__range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.catalog-filter__range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.catalog-filter__range-toggle:focus {
  outline: 3px solid #83b3d3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.catalog-filter__range-toggle:active {
  outline: 2px solid #83b3d3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  left: -1px;
  top: -8px;
}

.toggle-max {
  right: 0;
  top: -8px;
}

/* filter-button */
.button-filter-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.catalog-filter__button-apply {
  font-size: 16px;
  line-height: 20px;
  padding-right: 50px;
  padding-left: 50px;
  max-width: 191px;
  margin-bottom: 32px;
}

.catalog-filter__button-reset {
  font-family: "PT Sans", Arial, sans-serif;
  color: #ffffff;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border: none;
  padding: 8px 50px;
  max-width: 191px;
  cursor: pointer;
  border-radius: 4px;
}

/* search result */
.search-results {
  padding: 50px 70px 40px 70px;
  display: flex;
}

.search-results__title {
  /* text-align: start; */
  margin-left: 0;
  margin-right: auto;
  align-self: center;
}

.search-results__select {
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  color: #333333;
  width: 292px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  appearance: none;
  padding: 12px 20px;
  padding-right: 40px;
  margin-bottom: auto;
  background-image: url("../images/svg-images/sort-bird.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.search-results__select:hover {
  border-color: #68a2ca;
}

.search-results__select:focus {
  border-color: #3f5e72;
  outline: none;
}

.search-results__select:disabled {
  color: #000000;
  border-color: #000000;
  opacity: 0.3;
}

.search-results__list {
  list-style: none;
  margin: 0;
  margin-left: 70px;
  padding: 0;
  display: flex;
}

.search-results__button {
  padding: 22px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  background-position: 50% 50%;
}

.search-results__item:not(:last-child) {
  margin-right: 8px;
}

.search-results__item:first-child .search-results__button {
  background-image: url("../images/svg-images/view-between.svg");
  display: block;
  background-repeat: no-repeat;
}

.search-results__item:nth-child(2) .search-results__button {
  background-image: url("../images/svg-images/view-alone.svg");
  display: block;
  background-repeat: no-repeat;
}

.search-results__item:nth-child(3) .search-results__button {
  background-image: url("../images/svg-images/view-list.svg");
  display: block;
  background-repeat: no-repeat;
}

.search-results__button:hover {
  border-color: #000000;
}

.search-results__button:focus {
  border-color: #68a2ca;
  outline: none;
}

.search-results__button:active {
  border-color: #000000;
}

.button-dark {
  border-color: #000000;
}

/* hotel list */
.hotels {
  display: flex;
  flex-direction: column;
}

.hotels__list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  list-style: none;
  color: #333333;
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0;
  justify-content: start;
}

.hotels__list::after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  bottom: -40px;
}

.hotels__item {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
  width: 340px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 19px;
  grid-template-rows: 1fr auto;
}

.hotels__title {
  text-align: start;
  color: #000000;
}

.hotels__link {
  grid-column: 1/-1;
  text-decoration: none;
  display: block;
}

.hotels__link:hover {
  opacity: 0.6;
}

.hotels__image {
  display: block;
  margin-bottom: 16px;
}

.hotels__type {
  font-weight: 400;
  width: 140px;
}

.hotels__price {
  text-align: right;
  font-weight: 400;
  width: 140px;
}

.hotels__detailed {
  width: 140px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  margin-bottom: auto;
}

.hotels__favorites {
  width: 140px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: auto;
}

.hotels__stars-rating {
  width: 140px;
  display: flex;
  align-items: end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotels__star {
  background-image: url("../images/svg-images/star.svg");
  width: 18px;
  height: 17px;
}

.hotels__star:not(:last-child) {
  margin-right: 6px;
}

.hotels__rating {
  width: 140px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 9px 22px 8px 23px;
}

/* pagination */
.pagination {
  display: flex;
  list-style: none;
  margin: 0;
  margin-top: 40px;
  padding: 0;
  margin-left: 70px;
}

.pagination__item {
  line-height: 36px;
  font-size: 20px;
}

.pagination__item:not(:last-child) {
  margin-right: 8px;
}

.pagination__link {
  text-decoration: none;
  color: #ffffff;
  min-width: 60px;
  padding: 12px 5px;
}

.pagination__link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination__item--more {
  color: #000000;
  background-color: #ffffff;
}

.pagination__link:hover {
  outline: 1px solid #82b3d3;
}

.pagination__link:focus {
  outline: 1px solid #82b3d3;
  outline-offset: 0;
}

.pagination__link:active {
  outline: none;
}

.pagination__item--more:hover,
.pagination__item--more:focus,
.pagination__item--more:active {
  background-color: #ffffff;
  color: #000000;
  outline: none;
}

.pagination__link-current:hover,
.pagination__link-current:focus,
.pagination__link-current:active {
  background-color: #f2f2f2;
  color: #000000;
  outline: none;
}

/* Modal */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-form {
  width: 100%;
}


.modal-search {
  width: 717px;
}

.modal__content {
  display: flex;
  flex-wrap: wrap;
}

.modal__title {
  text-align: start;
  margin-bottom: 64px;
}

.modal__close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background-image: url("../images/svg-images/modal-x-mark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.modal__close-button:hover {
  background-color: #e6e6e6;
}

.modal__close-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal__close-button:active {
  background-color: #e6e6e6;
  outline: none;
  opacity: 0.3;
}

/* modal-form-date */
.modal-form__input {
  position: relative;
  width: 440px;
  padding: 12px 40px 12px 20px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.modal-form__input::placeholder {
  color: #000000;
  opacity: 0.6;
}

.modal-form__input:hover {
  background-color: #e6e6e6;
}

.modal-form__input:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-form__input:not(:placeholder-shown) {
  outline: 2px solid #000000;
  background-color: #f2f2f2;
}

.modal-input-container {
  position: relative;
}

.modal-input-container::after {
  position: absolute;
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  background-image: url("../images/svg-images/calendar.svg");
  background-repeat: no-repeat;
  top: 16px;
  right: 22px;
}

.modal-field-container {
  position: relative;
  margin-bottom: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.modal-text {
  position: absolute;
  font-size: 16px;
  padding: 0;
  margin: 0;
  max-width: 420px;
  bottom: -25px;
  left: 20px;
}

.modal-form__error-text {
  color: #ff5757;
}

.modal-form__good-text {
  color: #333333;
}

.modal-form__description,
.modal-form__number-description {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.modal-form__label,
.modal-form__number-label {
  max-width: 135px;
}

/* modal-number */
.count-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-number-container {
  display: flex;
  align-items: center;
  position: relative;
}

.modal-number-wrapper {
  margin-left: 46px;
  display: flex;
}

.modal-form__number-input {
  width: 31px;
  border: none;
  background-color: #f2f2f2;
  text-align: center;
  padding: 14px 3px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.modal-form__number-input:hover {
  background-color: rgba(242, 242, 242, 0.6);
}

.modal-form__number-input:focus {
  outline: 3px solid #82b3d3;
  z-index: 1;
}

.modal-form__number-input:active {
  outline: 2px solid #000000;
  background-color: #f2f2f2;
}

.modal-form__number-input::-webkit-outer-spin-button,
.modal-form__number-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.tooltip-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 10px;
}

.tooltip-button {
  position: relative;
  width: 26px;
  height: 26px;
  border: none;
  border-radius: 50%;
  background-color: #83b3d3;
  background-image: url("../images/svg-images/i.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}

.tooltip-button:hover {
  opacity: 0.7;
}

.tooltip-button:focus {
  outline: 3px solid #0ffff4;
  z-index: 1;
}

.tooltip-button:active {
  opacity: 0.3;
}

.tooltip-button:hover + .tooltip-description {
  display: block;
}

.tooltip-button:focus + .tooltip-description {
  display: block;
}

.tooltip-description {
  position: absolute;
  display: none;
  width: 256px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  color: #ffffff;
  padding: 15px 18px 18px 22px;
  background-color: #333333;
  text-align: start;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  left: -115px;
  top: 40px;
}

.tooltip-description::before {
  content: "";
  position: absolute;
  background-image: url("../images/svg-images/popup-triangle.svg");
  background-repeat: no-repeat;
  width: 19px;
  height: 9px;
  top: -8px;
  right: 50%;
  transform: translate(50%);
}

.button-minus,
.button-plus {
  width: 40px;
  border: none;
  background-color: #f2f2f2;
}

.button-minus {
  border-radius: 4px 0 0 4px;
  padding-bottom: 8px;
  cursor: pointer;
  color: rgba(117, 97, 87, 0.3);
}

.button-plus {
  border-radius: 0 4px 4px 0;
  padding-top: 3px;
  cursor: pointer;
  color: rgba(117, 97, 87, 0.3);
}

.button-plus:hover,
.button-minus:hover {
  color: #000000;
}

.button-plus:focus,
.button-minus:focus {
  color: #000000;
  outline: 3px solid #82b3d3;
  z-index: 1;
}

.button-plus:active,
.button-minus:active {
  color: rgba(117, 97, 87, 0.3);
  outline: none;
}

/* modal-button */
.modal__button-search {
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border-radius: 10px;
  padding: 18px 10px;
  margin-top: 48px;
}

.modal__button-search:active {
  background-color: #68a2ca;
}

/* modal-container-close */
.modal-container-close {
  display: none;
}
